body, p, ul, ol, li, h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    font-weight: normal;
}
body {
 font-family:Arial, Helvetica, sans-serif;
 font-size:12px;
 color:#5c5c5c;
 background-color:#8ab64c;
 background-image:url(images/bodybg.png);
 background-position:left top;
 background-repeat:repeat-x;
 background-attachment:scroll;
 background-size:auto;
    -webkit-text-size-adjust: none;
    width: 100%;
    height: 100%;
}
h1 {
font-family:Georgia, "Times New Roman", Times, serif;
font-size:24px;
color:#076148;
}
h2 {
font-family:Georgia, "Times New Roman", Times, serif;
font-size:22px;
color:#076148;
}
h3 {
font-family:Georgia, "Times New Roman", Times, serif;
font-size:20px;
color:#076148;
}
h4 {
font-family:Georgia, "Times New Roman", Times, serif;
font-size:18px;
color:#076148;
}
h5 {
font-family:Georgia, "Times New Roman", Times, serif;
font-size:16px;
color:#076148;
}
h6 {
font-family:Georgia, "Times New Roman", Times, serif;
font-size:14px;
color:#076148;
}
a {
 text-decoration:none;
color:#ff9328;
}
a:hover {
text-decoration:none;
color:#ff9328;
}
a img {
    border: 0 solid;
}
p {
    line-height: 1.9;
}
ul, ol {
    padding: 0 0 0 20px;
    list-style: disc;
}
ol {
    list-style: decimal;
    padding: 0 0 0 23px;
}
li {
    padding: 0 0 10px;
}
hr {
    border-top: 1px solid #e8e8e8
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
th {
 font-family:Arial, Helvetica, sans-serif;
 font-size:12px;
 background:#ebf5e0;
 border-width:1px;
 border-style:solid;
 border-color:#d7eabf;
 color:#076148;
 padding:6px;
}
td {
 font-family:Arial, Helvetica, sans-serif;
 font-size:12px;
 background:#FFFFFF;
 border-width:1px;
 border-style:solid;
 border-color:#d7eabf;
 color:#5c5c5c;
 padding:6px;
}
/*---------------------------------- HEADER AREA -----------------------------------------*/
.headerContainer {
    padding: 20px 0 25px;
    text-align: center;
    margin-top: 20px;
    width: 90%;
    margin: 0 auto;
    background: #1E1E1E;
}
.logoarea {
    padding-bottom: 15px;
}
.headerContainer h1 {
 color:#ffffff;
 font-size:30px;
 font-family:Georgia, "Times New Roman", Times, serif;
    padding: 5px 10px;
}
.headerContainer h5 {
 color:#ffffff;
 font-size:14px;
 font-family:Georgia, "Times New Roman", Times, serif;
    font-style: italic;
}
/*---------------------------------- MENU AREA -----------------------------------------*/
.menuCont {
    width: 95%;
    margin: 0 auto;
    padding: 0 0 15px;
}
#navigation ul {
    width: 95%;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}
#navigation li {
 background-color:#ff9328;
 background-image:none;
background-repeat:repeat-x;
background-position:left top;
    border-bottom: 1px solid #ee8116;
    display: block;
    overflow: hidden;
    padding: 0;
    margin: 0;
}
#navigation li a {
 color:#1e1e1e;
 font-size:12px;
 font-family:Arial, Helvetica, sans-serif;
    display: block;
    line-height: 1.8;
    float: left;
    text-decoration: none;
    curser: pointer;
    position: relative;
    width: 100%;
}
#navigation li.selected {
 background-color:#ffcb34;
 background-image:none;
background-repeat:repeat-x;
background-position:left top;
}
#navigation li.selected a {
 color:#010101;
}
#navigation li a span {
    word-wrap: break-word;
    float: left;
    padding: 5px 25px 5px 10px;
    width: 91%
}
#navigation li a em {
    height: 10px;
    margin-top: 11px;
    width: 5px;
    position: absolute;
    right: 10px;
    top: 0;
}
#navigation li.navArrow a em {
    background: url(images/navArrow.png) no-repeat center center;
}
#navigation li.selected.navArrow a em {
    background: url(images/navArrow1.png) no-repeat center center;
}
/*---------------------------------- SUBMENU AREA -----------------------------------------*/
.submenu {
    width: 95%;
    margin: 0 auto;
    padding: 0 0 15px;
}
.submenu ul {
    width: 95%;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}
.submenu li {
 background-color:#ff9328;
background-image:none;
background-position:top left;
background-repeat:repeat;
 border-width:0 0 1px;
border-style:solid;
border-color:#ee8116;
 border-radius:0;
-moz-border-radius:0;
-webkit-border-radius:0;
-o-border-radius:0;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.submenu li a {
    text-decoration: none;
 font-family:Arial, Helvetica, sans-serif;
 color:#1e1e1e;
 font-size:12px;
    display: block;
    line-height: 1.8;
    float: left;
    text-decoration: none;
    curser: pointer;
    position: relative;
    width: 100%;
}
.submenu li.selected {
 background-color:#ffcb34;
background-image:none;
background-position:top left;
background-repeat:repeat;
}
.submenu li.selected a {
 color:#010101;
}
.submenu li a span {
    word-wrap: break-word;
    float: left;
    padding: 5px 25px 5px 10px;
    width: 91%
}
.submenu li a em {
    height: 10px;
    margin-top: 11px;
    width: 5px;
    position: absolute;
    right: 10px;
    top: 0;
}
.submenu li.navArrow a em, .submenu li.selected.navArrow a em {
    background: url(images/navArrow.png) no-repeat center center;
}
/*---------------------------------- CONTENT AREA -----------------------------------------*/
.container {
 background-color:#ffffff;
 background-image:none;
 background-position:0 0;
 background-repeat:no-repeat;
 background-attachment:scroll;
 background-size:auto;
 box-shadow: 0px 0px 0px 0px transparent, 0px 0px 0px 0px transparent inset;
 -moz-box-shadow: 0px 0px 0px 0px transparent, 0px 0px 0px 0px transparent inset;
 -webkit-box-shadow: 0px 0px 0px 0px transparent, 0px 0px 0px 0px transparent inset;
 -o-box-shadow: 0px 0px 0px 0px transparent, 0px 0px 0px 0px transparent inset;
 border-width: 0;
 border-style:none;
 border-color:transparent;
 border-radius: 0;
 -moz-border-radius:0;
 -webkit-border-radius:0;
 -o-border-radius:0;
    margin: 0 8px;
    padding: 15px;
}
/*---------------------------------- BANNER AREA CSS -----------------------------------------*/
.bannerImage {
    margin-bottom: 10px;
}
/*---------------------------------- BREADCRUMB AREA CSS -----------------------------------------*/
.breadcrumb {
    padding: 5px 0;
    border-bottom: 1px dotted #ddd;
    margin-bottom: 15px;
}
.breadcrumb a {
    text-decoration: none;
}
.breadcrumb span {
    padding: 0 10px;
}
.breadcrumb p {
    word-wrap: break-word
}
/*---------------------------------- CONTENT AREA -----------------------------------------*/
.contentArea {
    min-height: 250px;
    height: auto !important;
    height: 250px;
}
/*---------------------------------- SIDEBAR AREA -----------------------------------------*/
.sidebararea {
 background-color:#F4F4F4;
 background-image:none;
 background-position:0 0;
 background-repeat:no-repeat;
 background-attachment:scroll;
 background-size:auto;
 box-shadow: 0px 0px 0px 0px transparent, 0px 0px 0 0 transparent inset;
 -webkit-box-shadow: 0px 0px 0px 0px transparent, 0px 0px 0 0 transparent inset;
 -moz-box-shadow: 0px 0px 0px 0px transparent, 0px 0px 0 0 transparent inset;
 -o-box-shadow: 0px 0px 0px 0px transparent, 0px 0px 0 0 transparent inset;
 border-width: 1px;
 border-style:solid;
 border-color:#e4e6eb;
 border-radius: 0;
 -moz-border-radius:0;
 -webkit-border-radius:0;
 -o-border-radius:0;
 font-family: Arial, Helvetica, sans-serif;
 color:#5C5C5C;
 font-size:12px;
    margin: 15px 17px;
    min-height: 100px;
    height: auto !important;
    height: 100px;
    padding: 10px;
}
.sidebararea h1 {
 font-family:Georgia, "Times New Roman", Times, serif;
 font-size:24px;
 color:#076148;
}
.sidebararea h2 {
 font-family:Georgia, "Times New Roman", Times, serif;
 font-size:22px;
 color:#076148;
}
.sidebararea h3 {
 font-family:Georgia, "Times New Roman", Times, serif;
 font-size:20px;
 color:#076148;
}
.sidebararea h4 {
 font-family:Georgia, "Times New Roman", Times, serif;
 font-size:18px;
 color:#076148;
}
.sidebararea h5 {
 font-family:Georgia, "Times New Roman", Times, serif;
 font-size:16px;
 color:#076148;
}
.sidebararea h6 {
 font-family:Georgia, "Times New Roman", Times, serif;
 font-size:14px;
 color:#076148;
}
.sidebararea a {
 text-decoration:none;
 color:#FF9328;
}
.sidebararea a:hover {
 text-decoration:none;
 color:#FF9328;
}
.sidebararea form li span input[type=text], .sidebararea form li span textarea, .sidebararea form li span select {
 font-family:Arial, Helvetica, sans-serif;
 font-size:12px;
 color:#5C5C5C;
    background: #ffffff;
    border-color: #ECECEC;
}
.sidebararea th {
 font-family:Arial, Helvetica, sans-serif;
 font-size:12px;
 background:#ebf5e0;
 border-width:1px;
 border-style:solid;
 border-color:#d7eabf;
 color:#076148;
 padding:6px;
}
.sidebararea td {
 font-family:Arial, Helvetica, sans-serif;
 font-size:12px;
 background:#FFFFFF;
 border-width:1px;
 border-style:solid;
 border-color:#d7eabf;
 color:#5c5c5c;
 padding:6px;
}
.sidebararea .zs-highlight-box {
 background-color: #ffcb34;
 background-image: none;
 background-image: none, -moz-linear-gradient(bottom, transparent, transparent);
 background-image: none, -webkit-linear-gradient(bottom, transparent, transparent);
 background-image: none, -o-linear-gradient(bottom, transparent, transparent);
 background-position: top left;
 background-repeat: no-repeat;
 box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.17), 0px 0px 0px 2px #fab52b inset;
 -moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.17), 0px 0px 0px 2px #fab52b inset;
 -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.17), 0px 0px 0px 2px #fab52b inset;
 -o-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.17), 0px 0px 0px 2px #fab52b inset;
 border-width: 2px;
 border-style:solid;
 border-color:#ffffff;
 border-radius: 0;
 -moz-border-radius:0;
 -webkit-border-radius:0;
 -o-border-radius:0;
 padding: 10px;
 margin: 10px;
    min-height: 100px;
 font-family: Arial, Helvetica, sans-serif;
 color:#FFFAEC;
 font-size:12px;
}
.sidebararea .zs-highlight-box h1 {
 font-family:Georgia, "Times New Roman", Times, serif;
 font-size:24px;
 color:#FF5200;
}
.sidebararea .zs-highlight-box h2 {
 font-family:Georgia, "Times New Roman", Times, serif;
 font-size:22px;
 color:#FF5200;
}
.sidebararea .zs-highlight-box h3 {
 font-family:Georgia, "Times New Roman", Times, serif;
 font-size:20px;
 color:#FF5200;
}
.sidebararea .zs-highlight-box h4 {
 font-family:Georgia, "Times New Roman", Times, serif;
 font-size:18px;
 color:#FF5200;
}
.sidebararea .zs-highlight-box h5 {
 font-family:Georgia, "Times New Roman", Times, serif;
 font-size:16px;
 color:#FF5200;
}
.sidebararea .zs-highlight-box h6 {
 font-family:Georgia, "Times New Roman", Times, serif;
 font-size:14px;
 color:#FF5200;
}
.sidebararea .zs-highlight-box a {
 text-decoration:none;
 color:#FF5200;
}
.sidebararea .zs-highlight-box a:hover {
 text-decoration:none;
 color:#FF5200;
}
.sidebararea .zs-highlight-box th {
 font-family:Arial, Helvetica, sans-serif;
 font-size:12px;
 background:#FFC23F;
 border-width:1px;
 border-style:solid;
 border-color:#FFB20B;
 color:#FFF8E5;
 padding:6px;
}
.sidebararea .zs-highlight-box td {
 font-family:Arial, Helvetica, sans-serif;
 font-size:12px;
 background:#FFFFFF;
 border-width:1px;
 border-style:solid;
 border-color:#E9E9E9;
 color:#5c5c5c;
 padding:6px;
}
.sidebararea .zs-highlight-box hr {
    border-top-color: #FFB20B;
}
.sidebararea .zs-highlight-box form li span input[type=text], .sidebararea .zs-highlight-box form li span textarea, .sidebararea .zs-highlight-box form li span select {
    background: #FFBE00;
    border-color: #FFD600;
    color: #B87D08;
}
/*----------------------------------- THEME SIDEBAR AREA HIGHLIGHT BOX NEWSLETTER CSS -----------------------------------------------*/

.sidebararea .zs-highlight-box h3.newsletter-heading {
    color: #FF5200;
}
.sidebararea .zs-highlight-box .newsletter-desc {
    color: #FFFAEC;
}
.sidebararea .zs-highlight-box .newsletter-input-field {
    color: #FFFAEC;
    background: #FFBE00;
    border: 1px solid #FFD600;
}
.sidebararea .zs-highlight-box .newsletter-form input[type="text"]::-moz-placeholder {
    color:#ffecb6;
}
.sidebararea .zs-highlight-box .newsletter-form  input[type="text"]::-webkit-input-placeholder{
    color:#ffecb6;
}
.sidebararea .zs-highlight-box .newsletter-form  input[type="text"]:-ms-input-placeholder {
    color:#ffecb6;
}
/*-----------------------------------  TEXT HIGHLIGHT CSS -----------------------------------------------*/
.sidebararea .zs-text-light-color {
color:#B5B5B5;
}
.sidebararea .zs-text-highlight-color {
color:#076148;
}
.sidebararea .zs-highlight-box .zs-text-light-color {
color:#B5B5B5;
}
.sidebararea .zs-highlight-box .zs-text-highlight-color {
color:#FF5200;
}
/*--------------------- THEME SIDEBAR TABS ACCORDION AREA CSS ---------------------*/
.sidebararea .zs-tabs ul {
    list-style: none;
    float: left;
    padding: 0px;
    width: 100%;
    margin: 0;
    display: none;
    border-bottom: 1px solid #E3E3E3;
}
.sidebararea .zs-tabs ul li {
    margin: 0px;
    float: left;
    padding: 0px;
}
.sidebararea .zs-tabs ul li:first-child div {
    border-left: 1px solid #E3E3E3;
}
.sidebararea .zs-tabs ul li div {
    background: #EBEBEB;
    padding: 0 25px;
    color: #7D7D7D;
    position: relative;
    margin: 0 0 -1px;
    line-height: 3;
    display: block;
    cursor: pointer;
    border-right: 1px solid #E3E3E3;
    border-top: 1px solid #E3E3E3;
}
.sidebararea .zs-tabs ul li:hover div {
    background: #076148;
    color: #ffffff;
}
.sidebararea .zs-tabs ul li.selected div {
    background: #ffffff;
    color: #076148;
}
.sidebararea .zs-tabs-accordion-content, .sidebararea .zs-highlight-box .zs-tabs-accordion-content {
    clear: both;
    border: 1px solid #E3E3E3;
    padding: 15px;
    display: none;
    color: #7D7D7D;
    border-top: 0px;
    background: #ffffff;
    margin-bottom: 3px;
    min-height: 70px;
    height: auto !important;
    height: 70px;
}
.sidebararea .zs-accordion, .sidebararea .zs-highlight-box .zs-accordion {
    background: #EBEBEB;
    color: #7D7D7D;
    padding: 10px;
    cursor: pointer;
    border: 1px solid #e3e3e3;
    margin-bottom: 3px;
    display: block;
}
.sidebararea .zs-accordion.selected, .sidebararea .zs-highlight-box .zs-accordion.selected {
    background: #076148;
    color: #FFFFFF;
    border: 0px;
    margin-bottom: 0;
}
/*---------------------------------- THEME SIDEBAR AREA HIGHLIGHT TABS ACCORDION AREA CSS START ------------------------------------*/
.sidebararea .zs-highlight-box .zs-tabs-accordion-content h1, .sidebararea .zs-highlight-box .zs-tabs-accordion-content h2, .sidebararea .zs-highlight-box .zs-tabs-accordion-content h3, .sidebararea .zs-highlight-box .zs-tabs-accordion-content h4, .sidebararea .zs-highlight-box .zs-tabs-accordion-content h5, .sidebararea .zs-highlight-box .zs-tabs-accordion-content h6 {
    color: #076148;
}
.sidebararea .zs-highlight-box .zs-tabs-accordion-content a, .sidebararea .zs-highlight-box .zs-tabs-accordion-content a:hover {
    color: #ff9328;
}
.sidebararea .zs-highlight-box .zs-tabs-accordion-content hr {
    border-top-color: #D5D5D5;
}
.sidebararea .zs-highlight-box .zs-tabs-accordion-content th {
    background: #ebf5e0;
    border-color: #d7eabf;
    color: #076148;
}
.sidebararea .zs-highlight-box .zs-tabs-accordion-content td {
    background: #ffffff;
    border-color: #d7eabf;
    color: #5c5c5c;
}
.sidebararea .zs-highlight-box .zs-tabs-accordion-content form li span input[type="text"], .sidebararea .zs-highlight-box .zs-tabs-accordion-content form li span textarea, .sidebararea .zs-highlight-box .zs-tabs-accordion-content form li span select {
    background: #ffffff;
    border: 1px solid #e4e9dd;
    color: #5c5c5c;
}
/*---------------------------------- FOOTER AREA -----------------------------------------*/
.footerArea {
 background-color:#076148;
 background-image:none;
 background-position:0 0;
 background-repeat:no-repeat;
 background-attachment:scroll;
 background-size:auto;
 box-shadow: 0px 0px 0 0px transparent, 0px 0px 0px 0 transparent inset;
 -moz-box-shadow: 0px 0px 0 0px transparent, 0px 0px 0px 0 transparent inset;
 -webkit-box-shadow: 0px 0px 0 0px transparent, 0px 0px 0px 0 transparent inset;
 -o-box-shadow: 0px 0px 0 0px transparent, 0px 0px 0px 0 transparent inset;
 border-width:0;
 border-style:none;
 border-color:transparent;
 border-radius: 0;
 -moz-border-radius:0;
 -webkit-border-radius:0;
 -o-border-radius:0;
    padding: 10px 10px 25px;
    min-height: 50px;
    height: auto !important;
    height: 50px;
 color:#3F9B81;
 font-family: Georgia, "Times New Roman", Times, serif;
 font-size:12px;
}
.footerArea h1 {
 font-family:Georgia, "Times New Roman", Times, serif;
 font-size:24px;
 color:#ffffff;
}
.footerArea h2 {
 font-family:Georgia, "Times New Roman", Times, serif;
 font-size:22px;
 color:#ffffff;
}
.footerArea h3 {
 font-family:Georgia, "Times New Roman", Times, serif;
 font-size:20px;
 color:#ffffff;
}
.footerArea h4 {
 font-family:Georgia, "Times New Roman", Times, serif;
 font-size:18px;
 color:#ffffff;
}
.footerArea h5 {
 font-family:Georgia, "Times New Roman", Times, serif;
 font-size:16px;
 color:#ffffff;
}
.footerArea h6 {
 font-family:Georgia, "Times New Roman", Times, serif;
 font-size:14px;
 color:#ffffff;
}
.footerArea a {
 text-decoration:none;
 color:#FF9328;
}
.footerArea a:hover {
 text-decoration:none;
 color:#FF9328;
}
.footerArea form li span input[type=text], .footerArea form li span textarea, .footerArea form li span select {
 font-family:Arial, Helvetica, sans-serif;
 font-size:12px;
 color:#3F9B81;
    background: #0B5541;
    border: 1px solid #0E6D53;
}
.footerArea form li input[type=submit], .footerArea form li input[type=reset] {
font-family:Arial, Helvetica, sans-serif;
}
.footerArea th {
 font-family:Arial, Helvetica, sans-serif;
 font-size:12px;
 background:#104D3C;
 border-width:1px;
 border-style:solid;
 border-color:#164437;
 color:#3F9B81;
 padding:6px;
}
.footerArea td {
 font-family:Arial, Helvetica, sans-serif;
 font-size:12px;
 background:#FFFFFF;
 border-width:1px;
 border-style:solid;
 border-color:#d7eabf;
 color:#5c5c5c;
 padding:6px;
}
.footerArea hr {
    border-top-color: #3F9B81;
}
/*----------------------------------- THEME FOOTER AREA NEWSLETTER CSS -----------------------------------------------*/

.footerArea h3.newsletter-heading {
    color: #ffffff;
}
.footerArea .newsletter-desc {
    color: #3F9B81;
}
.footerArea .newsletter-input-field {
    color: #3F9B81;
    background: #0B5541;
    border: 1px solid #0E6D53;
}
.footerArea .newsletter-form input[type="text"]::-moz-placeholder {
    color:#3F9B81;
}
.footerArea .newsletter-form  input[type="text"]::-webkit-input-placeholder{
    color:#3F9B81;
}
.footerArea .newsletter-form  input[type="text"]:-ms-input-placeholder {
    color:#3F9B81;
}
/*----------------------------------- THEME FOOTER AREA HIGHLIGHT BOX CSS -----------------------------------------------*/

.footerArea .zs-highlight-box {
 background-color: #0c362a;
 background-image: none;
 background-image: none, -moz-linear-gradient(bottom, transparent, transparent);
 background-image: none, -webkit-linear-gradient(bottom, transparent, transparent);
 background-image: none, -o-linear-gradient(bottom, transparent, transparent);
 background-position: top left;
 background-repeat: no-repeat;
 box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.17), 0px 0px 0px 2px #103128 inset;
 -moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.17), 0px 0px 0px 2px #103128 inset;
 -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.17), 0px 0px 0px 2px #103128 inset;
 -o-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.17), 0px 0px 0px 2px #103128 inset;
 border-width: 2px;
 border-style:solid;
 border-color:#076148;
 border-radius: 0;
 -moz-border-radius:0;
 -webkit-border-radius:0;
 -o-border-radius:0;
 padding: 10px;
 margin: 10px;
    min-height: 200px;
color:#138F6C;
 font-family: Georgia, "Times New Roman", Times, serif;
 font-size:12px;
}
.footerArea .zs-highlight-box h1 {
 font-family:Georgia, "Times New Roman", Times, serif;
 font-size:24px;
 color:#ffffff;
}
.footerArea .zs-highlight-box h2 {
 font-family:Georgia, "Times New Roman", Times, serif;
 font-size:22px;
 color:#ffffff;
}
.footerArea .zs-highlight-box h3 {
 font-family:Georgia, "Times New Roman", Times, serif;
 font-size:20px;
 color:#ffffff;
}
.footerArea .zs-highlight-box h4 {
 font-family:Georgia, "Times New Roman", Times, serif;
 font-size:18px;
 color:#ffffff;
}
.footerArea .zs-highlight-box h5 {
 font-family:Georgia, "Times New Roman", Times, serif;
 font-size:16px;
 color:#ffffff;
}
.footerArea .zs-highlight-box h6 {
 font-family:Georgia, "Times New Roman", Times, serif;
 font-size:14px;
 color:#ffffff;
}
.footerArea .zs-highlight-box a {
 text-decoration:none;
 color:#FF9328;
}
.footerArea .zs-highlight-box a:hover {
 text-decoration:none;
 color:#FF9328;
}
.footerArea .zs-highlight-box hr {
    border-top-color: #164D3D;
}
.footerArea .zs-highlight-box th {
 font-family:Arial, Helvetica, sans-serif;
 font-size:12px;
 background:#104D3C;
 border-width:1px;
 border-style:solid;
 border-color:#005E44;
 color:#138F6C;
 padding:6px;
}
.footerArea .zs-highlight-box td {
 font-family:Arial, Helvetica, sans-serif;
 font-size:12px;
 background:#FFFFFF;
 border-width:1px;
 border-style:solid;
 border-color:#E9E9E9;
 color:#5c5c5c;
 padding:6px;
}
/*----------------------------------- THEME FOOTER AREA HIGHLIGHT BOX NEWSLETTER CSS -----------------------------------------------*/

.footerArea .zs-highlight-box h3.newsletter-heading {
    color: #ffffff;
}
.footerArea .zs-highlight-box .newsletter-desc {
    color: #138F6C;
}
.footerArea .zs-highlight-box .newsletter-form input[type="text"]::-moz-placeholder {
    color:#9AC79C;
}
.footerArea .zs-highlight-box .newsletter-form  input[type="text"]::-webkit-input-placeholder{
    color:#9AC79C;
}
.footerArea .zs-highlight-box .newsletter-form  input[type="text"]:-ms-input-placeholder {
    color:#9AC79C;
}
/*-----------------------------------  TEXT HIGHLIGHT CSS -----------------------------------------------*/
.footerArea .zs-text-light-color {
color:#708553;
}
.footerArea .zs-text-highlight-color {
color:#ffffff;
}
.footerArea .zs-highlight-box .zs-text-light-color {
color:#708553;
}
.footerArea .zs-highlight-box .zs-text-highlight-color {
color:#ffffff;
}
/*------------------------ THEME TABS ACCORDION AREA CSS START ------------------------------*/
.footerArea .zs-tabs ul {
    list-style: none;
    float: left;
    padding: 0px;
    width: 100%;
    margin: 0;
    display: none;
    border-bottom: 1px solid #166D55;
}
.footerArea .zs-tabs ul li {
    margin: 0px;
    float: left;
    padding: 0px;
}
.footerArea .zs-tabs ul li:first-child div {
    border-left: 1px solid #166D55;
}
.footerArea .zs-tabs ul li div {
    background: #126D53;
    padding: 0 25px;
    color: #ffffff;
    position: relative;
    margin: 0 0 -1px;
    line-height: 3;
    display: block;
    cursor: pointer;
    border-right: 1px solid #1B785E;
    border-top: 1px solid #1B785E;
}
.footerArea .zs-tabs ul li:hover div {
    background: #ffffff;
    color: #126D53;
}
.footerArea .zs-tabs ul li.selected div {
    background: #0a523e;
    color: #ffffff;
}
.footerArea .zs-tabs-accordion-content, .footerArea .zs-highlight-box .zs-tabs-accordion-content {
    clear: both;
    border: 1px solid #166D55;
    padding: 15px;
    display: none;
    color: #7DA99C;
    border-top: 0px;
    background: #0A523E;
    margin-bottom: 3px;
    min-height: 70px;
    height: auto !important;
    height: 70px;
}
.footerArea .zs-accordion, .footerArea .zs-highlight-box .zs-accordion {
    background: #126D53;
    color: #ffffff;
    padding: 10px;
    cursor: pointer;
    border: 1px solid #2D7863;
    margin-bottom: 3px;
    display: block;
}
.footerArea .zs-accordion.selected, .footerArea .zs-highlight-box .zs-accordion.selected {
    background: #0A523E;
    color: #FFFFFF;
    border: 1p solid #166d55;
    margin-bottom: 0;
}
/*---------------------------------- THEME HIGHLIGHT TABS ACCORDION AREA CSS START ------------------------------------*/
.footerArea .zs-highlight-box .zs-accordion.selected {
    border: 1px solid #0C664D;
}
.footerArea .zs-highlight-box .zs-tabs-accordion-content h1, .footerArea .zs-highlight-box .zs-tabs-accordion-content h2, .footerArea .zs-highlight-box .zs-tabs-accordion-content h3, .footerArea .zs-highlight-box .zs-tabs-accordion-content h4, .footerArea .zs-highlight-box .zs-tabs-accordion-content h5, .footerArea .zs-highlight-box .zs-tabs-accordion-content h6 {
    color: #FFFFFF;
}
.footerArea .zs-highlight-box .zs-tabs-accordion-content a, .footerArea .zs-highlight-box .zs-tabs-accordion-content a:hover {
    color: #ff9328;
}
.footerArea .zs-highlight-box .zs-tabs-accordion-content hr {
    border-top-color: #166d55;
}
.footerArea .zs-highlight-box .zs-tabs-accordion-content th {
    background: #104d3c;
    border-color: #164437;
    color: #3f9b81;
}
.footerArea .zs-highlight-box .zs-tabs-accordion-content td {
    background: #ffffff;
    border-color: #d7eabf;
    color: #5c5c5c;
}
.footerArea .zs-highlight-box .zs-tabs-accordion-content form li span input[type="text"], .footerArea .zs-highlight-box .zs-tabs-accordion-content form li span textarea, .footerArea .zs-highlight-box .zs-tabs-accordion-content form li span select {
    background: #0b4d3a;
    border-color: #0e6d53;
    color: #7da99c;
}
/*---------------------------------- FORM AREA -----------------------------------------*/
form ul {
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-image: none;
}
form li {
    overflow: hidden;
    padding: 5px 0;
    margin: 0;
}
form ul li label, form ul li div {
    width: auto;
    float: none;
    padding: 5px 0;
}
form ul li label {
    width: 200px;
    text-align: left;
}
form li div span {
    clear: both;
    display: block;
}
form li span input, form li span label {
    float: none;
    width: auto;
    padding: 0px 5px 0;
    margin-top: 10px;
}
form li span input[type=text], form li span textarea, form li span select {
 font-family:Arial, Helvetica, sans-serif;
 font-size:12px;
 color:#5c5c5c;
    width: 200px;
    border: 1px solid #E4E9DD;
    float: left;
    padding: 5px;
    resize: none;
    background: #FFFFFF;
    outline: none;
    margin: 0;
}
form li span select {
    width: 207px;
}
form li span textarea {
    height: 80px;
    overflow: auto;
}
form .dateinvoker {
    background: url(images/datePickerIcn.png) 0 0 no-repeat;
    width: 16px;
    height: 16px;
    border: none;
    vertical-align: middle;
    margin-top: 4px;
    outline: none;
    padding: 0px;
}
form li input[type=submit], form li input[type=reset], button {
    border: 1px solid #FFA300;
    background: #FFAB17;
    padding: 5px 15px;
    margin-right: 5px;
    color: #FFEFD3;
    cursor: pointer;
 font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
}
form li input[type=reset] {
    border: 1px solid #ECECEC;
    background: #ffffff;
    color: #BDBDBD;
}
/*-----------------------------------      THEME HIGHLIGHT BOX AREA CSS    -----------------------------------------------*/
.zs-highlight-box {
 background-color: #458949;
 background-image: none;
 background-image: none, -moz-linear-gradient(bottom, transparent, transparent);
 background-image: none, -webkit-linear-gradient(bottom, transparent, transparent);
 background-image: none, -o-linear-gradient(bottom, transparent, transparent);
 background-position: top left;
 background-repeat: no-repeat;
 box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.20), 0px 0px 0px 2px #317c49 inset;
 -moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.20), 0px 0px 0px 2px #317c49 inset;
 -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.20), 0px 0px 0px 2px #317c49 inset;
 -o-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.20), 0px 0px 0px 2px #317c49 inset;
 border-width: 2px;
 border-style:solid;
 border-color:#f4f4f4;
 border-radius: 0;
 -moz-border-radius:0;
 -webkit-border-radius:0;
 -o-border-radius:0;
 padding: 10px;
 margin: 10px;
    min-height: 200px;
 font-family:Arial, Helvetica, sans-serif;
 font-size:12px;
 color:#9AC79C;
}
.zs-highlight-box h1 {
font-family:Georgia, "Times New Roman", Times, serif;
font-size:24px;
color:#FDF52D;
}
.zs-highlight-box h2 {
font-family:Georgia, "Times New Roman", Times, serif;
font-size:22px;
color:#FDF52D;
}
.zs-highlight-box h3 {
font-family:Georgia, "Times New Roman", Times, serif;
font-size:20px;
color:#FDF52D;
}
.zs-highlight-box h4 {
font-family:Georgia, "Times New Roman", Times, serif;
font-size:18px;
color:#FDF52D;
}
.zs-highlight-box h5 {
font-family:Georgia, "Times New Roman", Times, serif;
font-size:16px;
color:#FDF52D;
}
.zs-highlight-box h6 {
font-family:Georgia, "Times New Roman", Times, serif;
font-size:14px;
color:#FDF52D;
}
.zs-highlight-box a {
 text-decoration:none;
color:#FDF52D;
}
.zs-highlight-box a:hover {
text-decoration:none;
color:#FDF52D;
}
.zs-highlight-box hr {
    border-top-color: #9AC79C;
}
.zs-highlight-box th {
 font-family:Arial, Helvetica, sans-serif;
 font-size:12px;
 background:#5C9E60;
 border-width:1px;
 border-style:solid;
 border-color:#449449;
 color:#316134;
 padding:6px;
}
.zs-highlight-box td {
 font-family:Arial, Helvetica, sans-serif;
 font-size:12px;
 background:#FFFFFF;
 border-width:1px;
 border-style:solid;
 border-color:#E9E9E9;
 color:#5c5c5c;
 padding:6px;
}
.zs-highlight-box form li span input[type=text], .zs-highlight-box form li span textarea, .zs-highlight-box form li span select {
    border-color: #59995D;
    background: #3C7C40;
    color: #9AC79C;
}
/*----------------------------------- THEME HIGHLIGHT BOX NEWSLETTER CSS -----------------------------------------------*/

.zs-highlight-box h3.newsletter-heading {
    color: #FDF52D;
}
.zs-highlight-box .newsletter-desc {
    color: #9AC79C;
}
.zs-highlight-box .newsletter-input-field {
    border-color: #59995D;
    background: #3C7C40;
    color: #9AC79C;
}
.zs-highlight-box .newsletter-form input[type="text"]::-moz-placeholder {
    color:#9AC79C;
}
.zs-highlight-box .newsletter-form  input[type="text"]::-webkit-input-placeholder{
    color:#9AC79C;
}
.zs-highlight-box .newsletter-form  input[type="text"]:-ms-input-placeholder {
    color:#9AC79C;
}
/*----------------------------------------------------- THEME TABS ACCORDION AREA CSS START -----------------------------------------------------*/
.zs-tabs ul {
    list-style: none;
    float: left;
    padding: 0px;
    width: 100%;
    display: none;
    margin: 0;
    border-bottom: 1px solid #E3E3E3;
}
.zs-tabs ul li {
    margin: 0px;
    float: left;
    padding: 0px;
}
.zs-tabs ul li:first-child div {
    border-left: 1px solid #E3E3E3;
}
.zs-tabs ul li div {
    background: #F4F4F4;
    padding: 0 25px;
    color: #7D7D7D;
    position: relative;
    margin: 0 0 -1px;
    line-height: 3;
    display: block;
    cursor: pointer;
    border-right: 1px solid #E3E3E3;
    border-top: 1px solid #E3E3E3;
}
.zs-tabs ul li:hover div {
    background: #076148;
    color: #ffffff;
}
.zs-tabs ul li.selected div {
    background: #ffffff;
    color: #076148;
}
.zs-tabs-accordion-content, .zs-highlight-box .zs-tabs-accordion-content {
    clear: both;
    border: 1px solid #E3E3E3;
    padding: 15px;
    display: none;
    color: #7D7D7D;
    border-top: 0px;
    background: #ffffff;
    margin-bottom: 3px;
    min-height: 70px;
    height: auto !important;
    height: 70px;
}
.zs-accordion, .zs-highlight-box .zs-accordion {
    background: #f4f4f4;
    color: #7D7D7D;
    padding: 10px;
    cursor: pointer;
    border: 1px solid #e3e3e3;
    margin-bottom: 3px;
    display: block;
}
.zs-accordion.selected, .zs-highlight-box .zs-accordion.selected {
    background: #076148;
    color: #FFFFFF;
    border: 0px;
    margin-bottom: 0;
}
/*---------------------------------- THEME HIGHLIGHT TABS ACCORDION AREA CSS START ------------------------------------*/
.zs-highlight-box .zs-tabs-accordion-content h1, .zs-highlight-box .zs-tabs-accordion-content h2, .zs-highlight-box .zs-tabs-accordion-content h3, .zs-highlight-box .zs-tabs-accordion-content h4, .zs-highlight-box .zs-tabs-accordion-content h5, .zs-highlight-box .zs-tabs-accordion-content h6 {
    color: #076148;
}
.zs-highlight-box .zs-tabs-accordion-content a, .zs-highlight-box .zs-tabs-accordion-content a:hover {
    color: #ff9328;
}
.zs-highlight-box .zs-tabs-accordion-content hr {
    border-top-color: #e8e8e8;
}
.zs-highlight-box .zs-tabs-accordion-content th {
    background: #ebf5e0;
    border-color: #d7eabf;
    color: #076148;
}
.zs-highlight-box .zs-tabs-accordion-content td {
    background: #ffffff;
    border-color: #d7eabf;
    color: #5c5c5c;
}
.zs-highlight-box .zs-tabs-accordion-content form li span input[type="text"], .zs-highlight-box .zs-tabs-accordion-content form li span textarea, .zs-highlight-box .zs-tabs-accordion-content form li span select {
    background: #ffffff;
    border: 1px solid #e4e9dd;
    color: #5c5c5c;
}
/*-----------------------------------  TEXT HIGHLIGHT CSS -----------------------------------------------*/
.zs-text-light-color {
color:#C6C6C6
}
.zs-text-highlight-color {
color:#076148
}
.zs-highlight-box .zs-text-light-color {
color:#C6C6C6
}
.zs-highlight-box .zs-text-highlight-color {
color:#FDF52D
}
/***************************** START SOCIAL ICONS SPRITE *****************************/
.themeSocialIconContainer {
    padding: 10px 0 7px;
    text-align: center;
    background: #1E1E1E;
}
.zs-socialicon-email, .zs-socialicon-facebook, .zs-socialicon-flickr, .zs-socialicon-googleplus, .zs-socialicon-linkedin, .zs-socialicon-pinterest, .zs-socialicon-rss, .zs-socialicon-twitter, .zs-socialicon-youtube, .zs-socialicon-medium, .zs-socialicon-instagram {
    background: url('images/zs-socialicon-sprite.png') no-repeat top left;
    width: 24px;
    height: 24px;
    display: inline-block;
    margin: 3px 3px 0;
}
.zs-socialicon-email {
    background-position: 0 -0px;
}
.zs-socialicon-facebook {
    background-position: 0 -24px;
}
.zs-socialicon-flickr {
    background-position: 0 -48px;
}
.zs-socialicon-googleplus {
    background-position: 0 -72px;
}
.zs-socialicon-linkedin {
    background-position: 0 -96px;
}
.zs-socialicon-pinterest {
    background-position: 0 -120px;
}
.zs-socialicon-rss {
    background-position: 0 -144px;
}
.zs-socialicon-twitter {
    background-position: 0 -168px;
}
.zs-socialicon-youtube {
    background-position: 0 -192px;
}
.zs-socialicon-medium {
    background-position: 0 -216px;
}
.zs-socialicon-instagram {
    background-position: 0 -240px;
}
/*****************************   END: SOCIAL ICONS SPRITE *****************************/
/*----------------------------------- THEME NEWSLETTER CSS -----------------------------------------------*/

.newsletter-container {
background: transparent;
    padding: 10px
}
h3.newsletter-heading {
    margin-bottom: 10px;
font-family: Georgia, "Times New Roman", Times, serif;
font-size: 20px;
color: #076148;
}
.newsletter-desc {
    margin-bottom: 25px;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
color: #5C5C5C;
}
.newsletter-input-field {
background: #ffffff;
border-width: 1px;
border-color: #E4E9DD;
color:#5C5C5C;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
    border-style: solid;
    box-sizing: border-box;
    margin-bottom: 10px;
    margin-right: 5px;
    width: 200px;
    padding: 10px;
    box-sizing: border-box;
    vertical-align:top;
}
button.newsletter-button {
background: #ffab17;
border-width: 0;
border-color: transparent;
color:#ffffff;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
    border-style: solid;
    cursor: pointer;
    padding: 10px;
    font-weight: 400;
    box-sizing: border-box;
    margin-right: 0;
}
.newsletter-layout-1 .newsletter-form, .newsletter-layout-2 .newsletter-form {
    margin: 0 auto;
    text-align: center;
}
.newsletter-layout-3 .newsletter-form {
    width: 200px;
    margin: 0 auto;
    text-align: right;
}
.newsletter-layout-3 button {
    text-align: right;
}
.newsletter-layout-2 button.newsletter-button {
    display:block;
    margin:0 auto;
}
.newsletter-form input[type="text"]::-moz-placeholder {
    color:#969696;
  font-size:90%;
  line-height:normal;
}
.newsletter-form  input[type="text"]::-webkit-input-placeholder{
    color:#969696;
  font-size:85%;
  line-height:normal;
}
.newsletter-form  input[type="text"]:-ms-input-placeholder {
    color:#969696;
  font-size:90%;
  line-height:normal;
}
/*----------------------------------- MEMBERSHIP PORTAL AREA CSS  -----------------------------------------------*/
.mp-container {
    height: 35px;
    background: #1E1E1E;
    border-bottom: 1px solid #353535;
    width: 90%;
    margin: 0 auto;
}
.member-signin {
    margin: 0 10px;
}
.member-signin > ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    text-align:right;
}
.member-signin li {
    display: inline-block;
    line-height: 35px;
    margin-left: 20px;
    padding: 0;
    position:relative;
}
.member-signin li a {
    color: #ffffff;
    text-decoration: none;
    display:block;
}
.member-signin li:first-child {
    width:75%;
}
.member-signin li a {
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    text-decoration:none;
    color:#ffffff;
    display:block;
    text-align:right;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.member-signin li a:hover {
    text-decoration:none;
    color:#ffffff;
}
.member-signin li:first-child {
    margin-left: 0;
}
.member-signin li:last-child:before {
    color:#ffffff;
    content: "|";
    position: absolute;
    top: 0;
    left:-10px;
}
 